<div>
    <div class="control">
        <span title="mines">{{remainMineCount}}</span>
        <span title="unknown">{{remainUnknownCount}}</span>
        <input type="number" v-model="rowCount" title="row count">
        <input type="number" v-model="columnCount" title="column count">
        <input type="number" v-model="mineCount" title="mine count">
        <select v-model="difficulty" title="difficulty">
            <option value="0">normal</option>
            <option value="1">easy</option>
            <option value="2">easier</option>
            <option value="3">no brain</option>
        </select>
        <button @click="start()">restart</button>
    </div>
    <div class="main" :style="mainStyle">
        <template v-for="(row, rowIndex) in cells">
            <template v-for="(cell, columnIndex) in row">
                <template v-if="cell.visible">
                    <div v-if="cell.value === null" class="item mine"></div>
                    <div v-else-if="cell.value === 0" class="item"></div>
                    <div v-else class="item">{{cell.value}}</div>
                </template>
                <template v-else>
                    <div v-if="cell.flagged" class="item unknown" @contextmenu="contextmenu($event, rowIndex, columnIndex, false)">&para;</div>
                    <div v-else class="item unknown" @click="click(rowIndex, columnIndex)" @contextmenu="contextmenu($event, rowIndex, columnIndex, true)">{{(difficulty >= 3 && cell.possibility) ? cell.possibility : ""}}</div>
                </template>
            </template>
        </template>
    </div>
</div>